$message-background: rgb(10, 65, 131);
$icon: rgb(62, 137, 230);
$signup-button: rgb(62, 137, 230);
$signup-button-hover: rgb(89, 164, 255);
$placeholder: rgba(126, 126, 126, 0.488);
$signin-button-hover: rgb(225, 238, 255);
