@import "./variables";

.body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 80, 80, 0.536);
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
}

.message {
    font-weight: 500;
    font-size: 1.7rem;
    margin: 50px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.errorContainer {
    height: 50px;
}

.error {
    line-height: 50px;
    color: red;
}