.text {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
}

@media only screen and (max-width: 444px) {
    .text {
        font-size: 1rem;
        font-weight: 300;
        color: #fff;
    }
}
