@import "../../../../variable.scss";

.container {
    height: 45px;
    display: flex;
    border-radius: 5px;
    background-color: $input-container;
    margin: 20px;
}

.button {
    border: none;
    height: 100%;
    width: 35px;
    transition: all 0.2s;
    padding: 13px;
    background-color: transparent;
    -webkit-appearance: none;
    &:hover {
        cursor: pointer;
    }
    &:active {
        transform: scale(0.9);
    }
}

.plusLogo {
    height: 100%;
}

.input {
    border: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: #fff;
    padding: 0 15px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: #fff;
        font-weight: 300;
    }
}
