@import "../variables.scss";

.container {
    position: relative;
    border: solid 1px rgba(123, 123, 123, 0.44);
    border-radius: 5px;
    width: 505px;
    height: 50px;
    display: flex;
    margin-bottom: 30px;
}

.password {
    border: none;
    width: 100%;
    padding: 0 50px;
    font-size: 1.1rem;
    background-color: transparent;
    &::placeholder {
        color: $placeholder;
    }
}

.icon {
    position: absolute;
    top: 11px;
    left: 11px;
    font-size: 1.8rem;
    color: $icon;
}
