.list {
    height: 45px;
    border: solid 1px #000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    background-color: #fff;
    border: none;
    position: relative;
}

.buttonImportant {
    height: 100%;
    padding: 13px;
    border: none;
    background-color: transparent;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    right: 0;
    &:hover {
        cursor: pointer;
    }
    &:active {
        transform: scale(0.9);
    }
}

.imageImportant {
    height: 100%;
}

.text {
    padding: 0 15px;
    font-weight: 300;
}
