/* Sign In */
$signin-title: rgb(41, 41, 41);
$signin-subtitle: rgb(41, 41, 41);
$signin-link: rgb(18, 112, 194);

$signin-email-border: rgb(18, 112, 194);
$signin-email-text: rgb(41, 41, 41);

$signin-password-border: rgb(18, 112, 194);
$signin-password-text: rgb(41, 41, 41);

$signin-button: rgb(40, 124, 198);
$signin-button-hover: rgb(15, 89, 154);

/* Sign Up */
$signup-title: rgb(41, 41, 41);
$signup-subtitle: rgb(41, 41, 41);
$signup-link: rgb(101, 83, 193);

$signup-email-border: rgb(101, 83, 193);
$signup-email-text: rgb(41, 41, 41);

$signup-password-border: rgb(101, 83, 193);
$signup-password-text: rgb(41, 41, 41);

$signup-button: rgb(101, 83, 193);
$signup-button-hover: rgb(74, 51, 187);

/* Header */
$important-button: rgba(36, 36, 36, 0.886);
$important-button-hover: rgba(63, 63, 63, 0.954);
$signout-button: rgba(36, 36, 36, 0.886);
$signout-button-hover: rgba(63, 63, 63, 0.954);

/* Main */
$container-background1: rgb(254, 244, 231);
$container-background2: rgb(254, 244, 231);
$title: rgb(45, 45, 45);
$logo: rgb(45, 45, 45);
$input-container: rgba(36, 36, 36, 0.886);
$heading: rgba(36, 36, 36, 0.886);;
