@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    background-image: linear-gradient(to right, rgba(240, 240, 240, 0.344), rgba(83, 146, 255, 0.386));
}
